
header{

    height:100px;
    width: auto;
    background-image:linear-gradient(to right, rgba(255,0,0,0), rgb(34, 34, 34)),url('../img/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;

   
}
.nav-item
{
    margin-left: 20px;
    margin-bottom: 20px;
    
   
}
.OD
{
height:300px;
padding-top:20%;
float: left;
}
.brand
{
    height:200px;
    width: auto;
}

@keyframes rightshift {
    from {left: 500px;}
    to {left: 10px;}
}

.container3 .tx{
    margin-top:10%;
    font-size:10px;
    height:5%;
    width:5%;
    float: left;
    z-index: 1000000;
   
}
.container3{
    position: relative;
    animation-name: rightshift;
    animation-duration: 4s;

}

.txt3
  {
      padding-top: 100px;
      text-align: center;
      font-size:5px;
  }
  .txt4
  {
    padding-top:35px;
    text-align: center;
    font-size:5px;
  }
  .carou
{

 width: auto;
  height:700px;
}
.ccc1
{
    height:200px;
    margin-left:0px;
    width: auto;
}
.ccc2
{
    max-height:50px;
}
